# Popularidade de um produto

In [1]:
from pytrends.request import TrendReq
from pytrends.exceptions import ResponseError
from pytrends import dailydata

In [2]:
pytrends = TrendReq(hl='en-UK')

In [5]:
pytrends.build_payload(kw_list=['fridge'
,'coffee machine'])

In [6]:
df = pytrends.interest_over_time()
df

            fridge  coffee machine isPartial
date
2016-12-11      45              11     False
2016-12-18      55              11     False
2016-12-25      58              13     False
2017-01-01      54              10     False
2017-01-08      48               8     False
...            ...             ...       ...
2021-10-31      64              11     False
2021-11-07      69              12     False
2021-11-14      72              13     False
2021-11-21      80              17     False
2021-11-28      72              14      True

[260 rows x 3 columns]

In [7]:
interessante = df.iloc[-2:]
interessante

            fridge  coffee machine isPartial
date
2021-11-21      80              17     False
2021-11-28      72              14      True

In [11]:
diferenca = abs(interessante['coffee machine'][0] - interessante['coffee machine'][1])
print(diferenca)
if interessante['fridge'][0] >interessante['fridge'][1]:
    print("Produto tem mais popularidade. Sendo assim, é possivel ser necessario aumentar stock.")
    inflacao = diferenca/100 * 20
    print("Novo preço : ", inflacao + 20)
else:
    print("Produto diminui de popularidade.")

3
Produto tem mais popularidade. Sendo assim, é possivel ser necessario aumentar stock.
Novo preço :  20.6

# Produtos mais populares em cada país

In [9]:
pytrends.build_payload(kw_list=['frigorifico'], cat = 18)

In [7]:
df = pytrends.interest_over_time()
df

            frigorifico isPartial
date
2016-12-11           26     False
2016-12-18           98     False
2016-12-25           14     False
2017-01-01           40     False
2017-01-08           38     False
...                 ...       ...
2021-10-31           46     False
2021-11-07           38     False
2021-11-14            0     False
2021-11-21           45     False
2021-11-28           34      True

[260 rows x 2 columns]

In [12]:
df = pytrends.trending_searches(pn = 'portugal')
trends = df[0].to_list()

trends

['História da pizza',
 'Juventus',
 'Eric Zemmour',
 'Preço combustiveis',
 'Jorge Sampaio',
 'Marília Mendonça',
 'Gravatar',
 'Manchester United  Crystal Palace',
 'Braga',
 'Sara Carreira',
 'Gil Vicente  Famalicão',
 'Gremio',
 'Enzo Fittipaldi',
 'Sporting futsal',
 'Maria Botelho Moniz namorado',
 'Braga FC',
 'Eunice munoz',
 'Rene Hofer',
 'Tottenham  Norwich',
 'Campo Maior']

In [21]:
keywords = ['']

pytrends.build_payload(kw_list=[''], cat=18,
                           timeframe='today 3-m', geo='FR', gprop='')
data = pytrends.interest_over_time()

In [ ]:
def gtrends_region(kw_list, key_ref, save_name="", 
                   category=0, time='all', loc='', res='COUNTRY'):
    #iterate every 4 item in list plus a keyword reference as the relative comparison
    i = 0
    while i < len(kw_list):
        l = kw_list[i:(i+4)]
        l.append(key_ref)
        pytrends.build_payload(l, cat=category, timeframe=time, geo=loc, gprop='')
        # resolution can be set to 'REGION' when loc is set to specific country, e.g. 'US'
        df_region = pytrends.interest_by_region(resolution=res, inc_low_vol=True, inc_geo_code=False)
        df_region.reset_index(inplace=True)
        df_region_name = "gtrends_region"+str(save_name)+str((i+4)//4)+".csv"
        df_region.to_csv(df_region_name, index = False)
        i += 4
        
gtrends_region(kw_list, 'Noodles', "_worldwide_",
               category=71, time='all', loc='', res='COUNTRY')

In [22]:
data

                isPartial
date
2021-09-06  61      False
2021-09-07  58      False
2021-09-08  63      False
2021-09-09  64      False
2021-09-10  64      False
...         ..        ...
2021-11-29  82      False
2021-11-30  75      False
2021-12-01  79      False
2021-12-02  75      False
2021-12-03  77      False

[89 rows x 2 columns]